<div>
    <a href="/dettaglio">dettaglio</a>
    <br>
    <a href="/listone">listone</a>
    <br>
    <a href="/elencoLeghe">elencoLeghe</a>
    <br>
    <a href="/iscrizione">iscrizione</a>
    <br>
    <a href="/inserimentoDati">inserimentoDati</a>
    <br>
    <a href="/regolamento">regolamento</a>
    <br>
    <a href="/scelte">scelte</a>
    <br>
    <a href="/calendario">calendario</a>
    <br>
    <a href="/classifica">classifica</a>
    <br>
    <a href="/profilo">profilo</a>
    <br>
    <a href="/punteggi">punteggi</a>
</div>